<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings">      
      <section name="dbSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="loginSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <dbSettings>
      <add key="Provider" value="0" />
      <add key="Server" value="MYS-RADEKK" />
      <add key="User" value="Z/Taox1lO7K1rg1jW2guZagJ4aaU7Pb1h0HzuurpOP0B/0iZEocoaVYPe3sG1+SZnXfYVtI790SAsmHH/yJX9EKCEB5krxLgCm80ah00BGd4o68Mad/K41Mk2yGpUAVD" />
      <add key="Password" value="uSX/3pd9xn+nDY4DyaddyALvf5oVlNytA5IrIQjXItIG/agZTOhzZw/2FrWxPtUAYal7PAj991BiGZCLuTXAd/GCXTXvIs1v3gp7yMAAWZ21YK4Emhqe9YTGdgQteFJY" />
    </dbSettings>
    <loginSettings>
      <add key="LastLogin" value="administrator"/>
    </loginSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
</configuration>