<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings">
      <section name="dbSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="loginSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <dbSettings>
      <add key="Provider" value="0"/>
      <add key="Server" value="MYS-RADEKK"/>
      <add key="User" value="sa"/>
      <add key="Password" value="#Area2008"/>
    </dbSettings>
    <loginSettings>
      <add key="LastLogin" value=""/>
    </loginSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
</configuration>