<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="off" internalLogFile="${basedir}/log/nlog-internal.log">

  <targets>
    <target xsi:type="File" name="logFile" fileName="${basedir}/log/erservice.log" encoding="utf-8"/>
    <target xsi:type="File" name="logErrorsFile" fileName="${basedir}/log/errors/${shortdate}.log" encoding="utf-8"/>
    <target xsi:type="Debugger" name="logDebug" />
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="logFile" />
    <logger name="*" level="Debug, Info" writeTo="logDebug" />
    <logger name="*" level="Fatal, Error, Warn" writeTo="logErrorsFile" />
    
  </rules>
  
</nlog>